.home {
  width: 98%;
  margin: 0 auto;
  position: relative;
  top: -22px;

  .menuItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 56px;

    span {
      margin-top: 4px;
      font-size: 18px;
    }
  }

  .card {
    margin-bottom: 20px;
    padding: 12px;
  }
}