.btmOpt {
  width: 100vw;
  display: flex;
  position: fixed;
  bottom: 10%;
  left: 0;
  justify-content: space-around;
  // transform: translate(-10px, 0);
  button {
    width: 40%;
  }
  :global {
    .adm-button {
      line-height: 2.1;
    }
  }
  // transform: translate(-50%, 0);
}

.result {
  display: flex;
  flex-direction: column;
  margin-top: 320px;
  :global {
    .adm-result-icon {
      margin-bottom: 36px ;
      width: 100px;
      .antd-mobile-icon {
        font-size: 100px;
      }
    }
    .adm-result-title {
      margin-top: 24px;
      margin-bottom: 88px;
    }
    .adm-button {
      line-height: 2.1;
    }
  }
}